.pixel {
  color: rgb(255, 192, 0) /* Orange */
}

.artifier {
  color: rgb(0, 176, 240) /* Sky Blue */
}

.canvas-container {
  aspect-ratio: 1;
}

.color-selector {
  min-width: 60px; 
  aspect-ratio: 1;
}